.gc-game-content-wrapper {
  margin: 0;
}

.gc-game-image-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
}

.gc-game-image-wrapper:after {
  /* 616:353 ratio + 6 */
  padding-top: 57.305194805%;
  display: block;
  content: '';
}

.gc-info-wrapper {
  max-width: 100%;
  min-height: 10rem;
  flex: 1 0 auto;
}

.gc-info {
  padding: 0 1.2rem;
  flex: 1 0 auto;
}

.gc-text {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  max-width: 24rem;
}

.gc-btn-buy {
  width: 100%;
}

.gc-btn-buy button {
  margin: 0;
  border-radius: 0;
  height: 2.4rem;
  font-size: 0.7rem;
  width: 100%;
  max-width: 100%;
}

.gc-store-name {
  width: 100%;
  background-color: hsl(0, 0%, 0%, 0.3);
  padding: 0.4rem;
}

.gc-store-price {
  margin: 0 1rem;
  font-size: 0.8rem;
}
