<app-search-bar class="clr-col-md-8 clr-col-xl-6"></app-search-bar>
<div class="clr-row">
  <app-deals-widget class="clr-col-md-6" type="top" header="Best deals">
  </app-deals-widget>
  <app-deals-widget class="clr-col-md-6" type="popular" header="Trending">
  </app-deals-widget>
  <app-deals-widget class="clr-col-md-6" type="hot" header="Most wished for">
  </app-deals-widget>
  <app-reddit-widget class="clr-col-md-6" header="/r/FreeGameFindings"
    headerUrl="https://reddit.com/r/FreeGameFindings/">
  </app-reddit-widget>
</div>