<div class="clr-row mx-1 my-1 my-md-5">

  <div class="clr-col-6 clr-col-md-3 m-0 p-0">
    <app-featured-category category="1" routerLink="/free" titleText="FREE games"></app-featured-category>
  </div>

  <div class="clr-col-6 clr-col-md-3 m-0 p-0">
    <app-featured-category category="2" routerLink="/deals/1" titleText="Under {{currencyLeft}}{{buckets['1']}}{{currencyRight}}"></app-featured-category>
  </div>

  <div class="clr-col-6 clr-col-md-3 m-0 p-0">
    <app-featured-category category="3" routerLink="/deals/5" titleText="Under {{currencyLeft}}{{buckets['5']}}{{currencyRight}}"></app-featured-category>
  </div>

  <div class="clr-col-6 clr-col-md-3 m-0 p-0">
    <app-featured-category category="4" routerLink="/deals/10" titleText="Under {{currencyLeft}}{{buckets['10']}}{{currencyRight}}"></app-featured-category>
  </div>

</div>

<app-search-bar class="clr-col-md-8 clr-col-xl-6 p-0"></app-search-bar>

<div class="clr-row mt-2 mt-md-5">

  <app-deals-widget class="clr-col-md-6" type="top" header="Best deals">
  </app-deals-widget>

  <app-deals-widget class="clr-col-md-6" type="popular" header="Trending">
  </app-deals-widget>

  <app-deals-widget class="clr-col-md-6" type="hot" header="Most wished for">
  </app-deals-widget>

  <app-reddit-widget class="clr-col-md-6" header="/r/FreeGameFindings"
    headerUrl="https://reddit.com/r/FreeGameFindings/">
  </app-reddit-widget>

</div>