.gc-content-area {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gc-container-wrapper {
  width: 100%;
  flex: 1 0 auto;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gc-container {
  width: calc(100% - 2.4rem);
  margin: 0 1rem 2rem 1rem;
}

@media (min-width:768px) {
  .gc-container {
    width: calc(750px - 2.4rem);
  }
}

@media (min-width:992px) {
  .gc-container {
    width: calc(970px - 2.4rem);
  }
}

@media (min-width:1200px) {
  .gc-container {
    width: calc(1170px - 2.4rem);
  }
}
