.gc-content-area {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gc-container {
  margin: 0 auto 2rem auto;
  flex: 1 0 auto;
  min-height: auto;
}

@media (min-width:768px) {
  .gc-container {
    width: calc(750px - 2.4rem);
  }
}

@media (min-width:992px) {
  .gc-container {
    width: calc(970px - 2.4rem);
  }
}

@media (min-width:1200px) {
  .gc-container {
    width: calc(1170px - 2.4rem);
  }
}
