<a class="flex flex-row justify-content-between align-items-center gc-row" routerLink="/game/{{game.id}}">
  <div class="gc-game-image-wrapper">
    <app-img-box [url]="imgUrl" smallSpinner="true"></app-img-box>
  </div>
  <div class="flex flex-column py-1 px-2 gc-full-width">
    <div title="{{game.name}}" class="gc-title text-ellipsis">
      {{game.name}}
    </div>
    <span class="flex flex-row align-items-center justify-content-between ">
      <div class="flex flex-row align-items-center gc-metadata gc-full-width">
        <span class="label label-orange" title="Type: DLC" *ngIf="game.dlc">
          DLC
        </span>
        <span class="label label-blue" title="Type: Bundle" *ngIf="game.bundle || game.package">
          Bundle
        </span>
        <span title="Store: {{game.stores[0].store['name']}}" class="gc-text-platform text-ellipsis">{{game.stores[0].store['name']}}</span>
      </div>
      <div class="gc-price">
        <span *ngIf="game.lowestValue === 0" class="gc-free">FREE</span>
        <span *ngIf="game.lowestValue !== 0">{{game.lowest}}</span>
      </div>
    </span>
  </div>
</a>