.gc-credentials-wrapper input {
  width: 100%;
  height: 2rem;
  max-height: 2rem;
  font-size: 0.7rem;
  font-weight: lighter;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 0;
}

.gc-credentials-wrapper clr-input-container {
  height: 2rem;
  max-height: 2rem;
  margin: 1.2rem 0;
}

.gc-credentials-wrapper .clr-subtext {
  line-height: 2rem;
}

.gc-register-button-wrapper {
  padding: 0;
}

.gc-register-button-wrapper button {
  margin: 0;
  border-radius: 0;
  height: 2.4rem;
  font-size: 0.7rem;
}
