<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      {{header}}
    </h4>
    <p *ngIf="headerText" class="card-text">
      {{headerText}}
    </p>
  </div>
  <ul class="list-group">
    <li *ngFor="let game of games">
      <app-widget-row [game]="game"></app-widget-row>
    </li>
    <li *ngIf="loading" class="p-3">
      <span class="spinner spinner-sm spinner-inverse">
        Loading...
      </span>
    </li>
  </ul>
  <div class="card-footer" *ngIf="showLoadMore">
    <button class="btn btn-sm btn-link" [disabled]="loading" (click)="loadMore()">
      <span *ngIf="!loading">Load more</span>
      <span *ngIf="loading">Please wait...</span>
    </button>
  </div>
</div>